@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');

html,
body,
header,
.carousel {
  height: 60vh;
  font-family: 'Montserrat', 'Open Sans' !important;
}

@media (max-width: 740px) {

  html,
  body,
  header,
  .carousel {
    height: 100vh;
  }
}

@media (min-width: 800px) and (max-width: 850px) {

  html,
  body,
  header,
  .carousel {
    height: 100vh;
  }
}

/* h1, h2, h3, h4, h5, h6, p, 
table, ul, li, nav, footer, 
form, .assumptions {
  font-family: 'Roboto', sans-serif;
} */

form {
  font-family: 'Open Sans';
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ccccccc;
    padding: 8px;
}

th {
    font-weight: bold;
}

.calculations {
  font-family: 'Open Sans';
  color: lightslategrey;
  /* background-color: #e9ecef; */
}

.container {
  position: relative;
  min-height: 60vh;
}

.login-container {
  float: right;
}

.work-in-progress {
  background-color: #e9ecef;
  padding: 10px;
  margin-bottom: 10px;
}