{% extends "kpis/base.html" %}

{% block content %}
{% load humanize %}

<h4 class="display-4 font-weight-bold">Immotion KPIs</h4>

<br>

<div class="row">
    <div class="card p-3 mb-2 mr-2 col-lg-6">
    <canvas id="kpiChart"></canvas>
    </div>

    <div class="card p-3 mb-2 mr-2 col-lg-5">
        <table class="table">
            <tr></tr>
                <th>Revenue</th>
                <td>{{t_revenue|intcomma}}</td>
            <tr></tr>
                <th>Avg weekly headsets in operation</th>
                <td></td>
        </table>
    </div>

    <div class = "card p-3 col-md-12">
        <p><strong>Pros of website</strong></p>
        <p>Enhanced reporting capacity </p>
        <ul>
            <li>Easier to see estimates that have been reported week-on-week, to know which reports require chasing</li>
            <li>Reporting contact information stored in one central location. 
                Ability to store information such as 'invoiced: weekly/monthly', 
                or any other notes pertaining to specific partners</li>
            <li>Gameplay variance reporting</li>
            <li>Capacity utilization</li>
            <li>Sites open/closed</li>
            <li>Geographic</li>
        </ul>
        <p>Other</p>
        <ul>
            <li>Division of labour, e.g. sales team can enter new customers/partners, 
                which will then be highlighted if no report is entered for the following week.
                Sites opened or closed can be edited by managers.</li>
            <li>Ability to extend the application long-term, e.g. to make notes / discussion board under each site's page.
                Managers could set targets.</li>
            <li>Excel sheet takes time to setup each week (editing columns, new name definitions, FX rate formulas).
                The website makes it much simpler to add a new report.</li>
            <li>You can set permissions for different users (what they can see, or edit)</li>

            <li>Automatic formatting of estimates / outliers</li>
            <li>Excel sheet arguably more prone to errors</li>
        </ul>
        <p><strong>Cons of website</strong></p>
        <ul>
            <li>If the website breaks, it could prove difficult to fix. 
                A backup of the database will be made daily.</li>
            <li>Requires specialised knowledge to edit the system.</li>
            <li>Harder to audit calculations.</li>
        </ul>
        <p><strong>To Develop</strong></p>
        <ul>
            <li>Filter for 'edit report' page to select specific weeks, etc.</li>
            <li>Gameplay variance report</li>
            <li>Headsets in operation report</li>
        </ul>
        <p><strong>To go on this page</strong></p>
        <ul>
            <li><strike> Link to latest weekly report (see navbar) </strike></li>
            <li> Graph - Stacked bar and line for headsets </li>    
            <li> YTD Statistics </li>
        </ul>
        <p><strong>Todo list</strong></p>
        <ul>
            <li>Fix weekly url links to not go below 1 or above 53</li>
            <li>Finish navbar</li>
            <li>Add start / end dates in "calculations" for new report page</li>
        </ul>

        <p><strong>Ideas</strong></p>
        <ul>
            <li>Add week/year start and end dates to customers to track headset counts</li>
            <li>Create 'Sage Invoice' model to reconcile against</li>
        </ul>

    </div>

</div>

<br>

{% for yearly_report in yearly_reports %}
    <h5> Year {{ yearly_report.year }}</h5>
    <table class="table table-responsive text-uppercase small">
        <thead class="thead-light ">
            <th>Week#</th>
            <th>Site</th>
            <th>Revenue</th>
            <th>Partner Share</th>
            <th>Contribution</th>
        </thead>
        {% for report in yearly_report.report %}
{#                    <h6>Week {{ report.week_number }}</h6>#}
        <tr>
            <td> <a href="/week/{{report.week_number}}/{{report.year}}">{{ report.week_number }}</a> </td>
            <td> <a href="/{{ report.customer|slugify }}">{{ report.customer }}</a> </td>
            <td> {{ report.revenue }} </td>
            <td> {{ report.partner_share }} </td>
            <td> {{ report.contribution }}</td>
        </tr>
        {% endfor %}
    </table>
    <hr> 
{% endfor %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
<script>

var index;
var weeks = {{weeks_2020_list}}

var aquBGColor = 'rgba(42, 155, 242, 0.4)';
var aquBGColorArray = [];

for (index = 0; index < weeks.length; ++index) {
    aquBGColorArray.push(aquBGColor);
}

var entBGColor = 'rgba(240, 16, 52, 0.4)';
var entBGColorArray = [];

for (index = 0; index < weeks.length; ++index) {
    entBGColorArray.push(entBGColor);
}

var ivrBGColor = 'rgba(50, 205, 0, 0.4)';
var ivrBGColorArray = [];

for (index = 0; index < weeks.length; ++index) {
    ivrBGColorArray.push(ivrBGColor);
}

var mbBGColor = 'rgba(115, 57, 232, 0.4)';
var mbBGColorArray = [];

for (index = 0; index < weeks.length; ++index) {
    mbBGColorArray.push(mbBGColor);
}

var ctx = document.getElementById('kpiChart');
var kpiChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{weeks_2020_list}},
        datasets: [
        {
            label: 'Aquariums',
            data: {{aqu_weekly_rev}},
            backgroundColor: aquBGColorArray,
            borderColor: aquBGColorArray,
            borderWidth: 1
        },
        {
            label: 'Entertainment',
            data: {{ent_weekly_rev}},
            backgroundColor: entBGColorArray,
            borderColor: entBGColorArray,
            borderWidth: 1
        },
        {
            label: 'IVR',
            data: {{ivr_weekly_rev}},
            backgroundColor: ivrBGColorArray,
            borderColor: ivrBGColorArray,
            borderWidth: 1
        },
        {
            label: 'Mandalay Bay',
            data: {{mb_weekly_rev}},
            backgroundColor: mbBGColorArray,
            borderColor: mbBGColorArray,
            borderWidth: 1
        },
        ]
    },
    options: {
        title: {
            display: true,
            text: 'Weekly Revenue - Year 2020',
        },
        scales: {
            xAxes: [{
                stacked: true
            }],
            yAxes: [{
                ticks: {
                    beginAtZero: true
                },
                stacked: true
            }]

        }
    }
});
</script>

{% endblock content %}

