@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,
body,
header,
.carousel {
  height: 60vh;
}


@media (max-width: 740px) {

  html,
  body,
  header,
  .carousel {
    height: 100vh;
  }
}

@media (min-width: 800px) and (max-width: 850px) {

  html,
  body,
  header,
  .carousel {
    height: 100vh;
  }
}

h1, h2, h3, h4, h5, h6, p, table {
  font-family: 'Poppins', sans-serif;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #ccccccc;
    padding: 8px;
}

th {
    font-weight: bold;
}

tr:nth-child(even) {
  background-color: lightgray;
}

tr:hover {
  color: white;
  background-color: darkslateblue; 
}