{% extends "kpis/base.html" %}

{% block content %}
{% load humanize %}

<h1 class="">{{ customer }}</h1>

<div class="row">
    <div class="col-auto">
        <table class="table text-uppercase small">
            <tr>
                <th>Week</th>
                <th>Revenue</th>
                <th>Headsets</th>
                <th>Rev/HS</th>
                <th>Staff</th>
                <th>Rent</th>
                <th>Marketing</th>
                <th>Sundries</th>
                <th>Contribution</th>
                <th>Cont/HS</th>
            </tr>

            {% for report in customer_reports %}
                <tr>
                    <td>{{ report.week_number }}</td>
                    <td>{{ report.revenue|intcomma }}</td>
                    <td>{{ report.headsets }}</td>
                    <td>{{ report.revenue_per_headset }}</td>
                    <td>{{ report.staff_costs|intcomma }}</td>
                    <td>{{ report.rent_cost|intcomma }}</td>
                    <td>{{ report.marketing_cost|intcomma }}</td>
                    <td>{{ report.sundries_cost|intcomma }}</td>
                    <td>{{ report.contribution|intcomma}}</td>
                    <td>{{ report.contribution_per_headset}}</td>
                <td></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-auto">
        <p>Todo</p>
        <ul>
            <li>Add summary stats, e.g. averages and totals</li>
            <li>Add contact information for site</li>
        </ul>
    </div>
</div>

{% endblock content %}
