{% extends 'kpis/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<h3>Edit report</h3>

<div class="form-wrapper mt-4">
    <div class="row">
        <div class="col-md-9">
            <form enctype="mutlipart/form-data" action="" method="POST">
                {% csrf_token %}
                <div class="row align-items-end">
                    <div class="col-md-6">
                        {{report_form.customer|as_crispy_field}}
                    </div>
                    <div class="col-md">
                        {{report_form.year|as_crispy_field}}
                    </div>
                    <div class="col-md">
                        {{report_form.week_number|as_crispy_field}}
                    </div>
                </div>
                <div class="row align-items-end">
                    <div class="col-md-6">
                        {{report_form.base_revenue|as_crispy_field}}
                    </div>
                    <div class="col-md-3">
                        {{report_form.headsets|as_crispy_field}}
                    </div>
                    <div class="col-md-3">
                        {{report_form.fx_rate|as_crispy_field}}
                    </div>
                </div>
                <div class="row align-items-end">
                    <div class="col-md-6">
                        {{report_form.revenue|as_crispy_field}}
                    </div>
                    <div class="col-md-6">
                        {{report_form.gameplays|as_crispy_field}}
                    </div>
                </div>
                <div class="row align-items-end">
                    <div class="col-md-6">
                        {{report_form.partner_share|as_crispy_field}}
                    </div>
                    <div class="col-md-6">
                        {{report_form.gameplay_variance|as_crispy_field}}
                    </div>
                </div>
                <div class="row align-items-end">
                    <div class="col-md-3">
                        {{report_form.staff_costs|as_crispy_field}}
                    </div>
                    <div class="col-md-3">
                        {{report_form.rent_cost|as_crispy_field}}
                    </div>
                    <div class="col-md-3">
                        {{report_form.marketing_cost|as_crispy_field}}
                    </div>
                    <div class="col-md-3">
                        {{report_form.sundries_cost|as_crispy_field}}
                    </div>
                </div>                
                <div class="row mt-2 align-items-end">
                    <div class="col-md-3">
                        {{report_form.estimate|as_crispy_field}}
                    </div>
                </div>
                <div class="row mt-2 align-items-end">
                    <div class="col-md-3">
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-3">
                        <p><span class="badge badge-success">{{success_note}}</span><span class="badge badge-danger">{{fail_note}}</span></p>
                    </div>
                </div>
            </form>
        </div>
        <div class="calculations col-md-3">
            <p class="">Calculation Info</p>
            <p id="jsAssumptions" class="small"></p>
        </div>
    </div>
</div>

</br>

<script>
// JS Array from Python backend
var jsArray = {{ json_fx|safe }};

// Get customer from selection then get the currency
function setCustomer() {
    let e = document.getElementById("id_customer")
    fCustomer = e.options[e.selectedIndex].innerHTML;

    var customerObj = jsArray.filter(getAttr);

    function getAttr(value, index, array) {
        return value.customer === fCustomer;
    }
    
    fx_currency = customerObj[0].currency;
    headsets = customerObj[0].headsets;
    exp_rev_per_gp = customerObj[0].exp_rev_per_gp;
    partnerSharePerc = customerObj[0].partner_share_perc;
    
    document.getElementById("id_headsets").value = headsets;


    //API call to get FX Rate
    async function fetchFxRates() {

        // Week number
        function getDateOfISOWeek(w, y) {
            var simple = new Date(y, 0, 1 + (w - 1) * 7);
            var dow = simple.getDay();
            var ISOweekStart = simple;
            if (dow <= 4)
                ISOweekStart.setDate(simple.getDate() - simple.getDay() + 1);
            else
                ISOweekStart.setDate(simple.getDate() + 8 - simple.getDay());
            return ISOweekStart;
        }
                
        function addDays(date, days) {
        var result = new Date(date);
        result.setDate(result.getDate() + days);
        return result;
        }

        function setWeekYear() {
            weekNumber = document.getElementById("id_week_number").value;
            year = document.getElementById("id_year").value;
            return weekNumber;
            return year;
        }

        setWeekYear();

        var startDate = getDateOfISOWeek(weekNumber, year);
        var endDate = addDays(startDate, 6);
        startDate = startDate.toISOString().substring(0,10);  
        endDate = endDate.toISOString().substring(0,10);

        const response = await fetch('https://api.exchangeratesapi.io/history?start_at='+startDate+'&end_at='+endDate+'&symbols=USD,EUR,CNY,AUD&base=GBP');
        const fxRatesHist = await response.json();

        // Get average FX Rate for period
        let fxArray = Object.values(fxRatesHist.rates);

        function getUSD(item) {
            return item.USD;
        }

        function sumUSD(runningTotal, USD) {
            return runningTotal + USD;
        }
        
        const USDArray = fxArray.map(getUSD);
        const USDTotal = USDArray.reduce(sumUSD);
        const USDAvg = USDTotal / USDArray.length;

        function getEUR(item) {
            return item.EUR;
        }

        function sumEUR(runningTotal, EUR) {
            return runningTotal + EUR;
        }
        
        const EURArray = fxArray.map(getEUR);
        const EURTotal = EURArray.reduce(sumEUR);
        const EURAvg = EURTotal / EURArray.length;

        function getAUD(item) {
            return item.AUD;
        }

        function sumAUD(runningTotal, AUD) {
            return runningTotal + AUD;
        }
        
        const AUDArray = fxArray.map(getAUD);
        const AUDTotal = AUDArray.reduce(sumAUD);
        const AUDAvg = AUDTotal / AUDArray.length;

        function getCNY(item) {
            return item.CNY;
        }

        function sumCNY(runningTotal, CNY) {
            return runningTotal + CNY;
        }
        
        const CNYArray = fxArray.map(getCNY);
        const CNYTotal = CNYArray.reduce(sumCNY);
        const CNYAvg = CNYTotal / CNYArray.length;

        if (fx_currency == "USD") {
            document.getElementById("id_fx_rate").value = USDAvg.toFixed(4);
        } else if (fx_currency == "EUR") {
            document.getElementById("id_fx_rate").value = EURAvg.toFixed(4);
        } else if (fx_currency == "AED") {

            document.getElementById("id_fx_rate").value = (USDAvg * 3.67).toFixed(4);
        } else if (fx_currency == "CNY") {
            document.getElementById("id_fx_rate").value = CNYAvg.toFixed(4);
        } else if (fx_currency == "AUD") {
            document.getElementById("id_fx_rate").value = AUDAvg.toFixed(4);
        } else if (fx_currency == "GBP") {
            document.getElementById("id_fx_rate").value = (1).toFixed(4);
        } else {
            document.getElementById("id_fx_rate").value = (1).toFixed(4);
        }

        // For latest FXRates
        /* if (fx_currency == "USD") {
            document.getElementById("id_fx_rate").value = fxRatesLatest.rates.USD
        } else if (fx_currency == "EUR") {
            document.getElementById("id_fx_rate").value = fxRatesLatest.rates.EUR
        } else if (fx_currency == "AED") {
            document.getElementById("id_fx_rate").value = fxRatesLatest.rates.USD * 3.67
        } else if (fx_currency == "CNY") {
            document.getElementById("id_fx_rate").value = fxRatesLatest.rates.CNY
        } else if (fx_currency == "AUD") {
            document.getElementById("id_fx_rate").value = fxRatesLatest.rates.AUD
        } else if (fx_currency == "GBP") {
            document.getElementById("id_fx_rate").value = 1
        } else {
            document.getElementById("id_fx_rate").value = 1
        } */

        document.getElementById("id_week_number").addEventListener("input", setWeekYear);
        document.getElementById("id_year").addEventListener("input", setWeekYear);

    }

    fetchFxRates();

    document.getElementById("id_week_number").addEventListener("input", fetchFxRates);
    document.getElementById("id_year").addEventListener("input", fetchFxRates);

    // Gameplay variance
    function calcVariance() {
        let gameplays = document.getElementById("id_gameplays").value;
        let revenue = document.getElementById("id_revenue").value;
        
        if (exp_rev_per_gp) {
            document.getElementById("id_gameplay_variance").value = (revenue - (gameplays * exp_rev_per_gp));
        } else {
            document.getElementById("id_gameplay_variance").value = null;
        }

    }

    document.getElementById("id_gameplays").addEventListener("input", calcVariance);

    document.getElementById("id_base_revenue").value = "";
    document.getElementById("id_revenue").value = "";
    document.getElementById("id_partner_share").value = "";
    document.getElementById("id_gameplays").value = "";
    document.getElementById("id_gameplay_variance").value = "";
    document.getElementById("id_base_revenue").focus();

}

document.getElementById("id_customer").addEventListener("input", setCustomer);
document.getElementById("id_customer").addEventListener("input", updateAssumptions);

// Calculate GBP based on FX rate and base revenue
function calcGbpRevenue() {
    let gbpRev = Math.round(document.getElementById("id_base_revenue").value / document.getElementById("id_fx_rate").value);
    document.getElementById("id_revenue").value = gbpRev
}

document.getElementById("id_base_revenue").addEventListener("input", calcGbpRevenue);
document.getElementById("id_fx_rate").addEventListener("input", calcGbpRevenue);

// Partner share
function calcPartnerShare() {
    if (partnerSharePerc) {
        let partnerShare = Math.round(document.getElementById("id_revenue").value / 100 * partnerSharePerc);
        document.getElementById("id_partner_share").value = partnerShare;
    } else {
        let partnerShare = Math.round(document.getElementById("id_revenue").value / 2);
        document.getElementById("id_partner_share").value = partnerShare;
    }
}

document.getElementById("id_base_revenue").addEventListener("input", calcPartnerShare);
document.getElementById("id_fx_rate").addEventListener("input", calcPartnerShare);

function updateAssumptions() {
    if (partnerSharePerc == null && exp_rev_per_gp == null) {
        assumptions = "Partner share: (default 50%)" + "<br/> Revenue per gameplay: (default null)" ;
    } else if (partnerSharePerc == null && exp_rev_per_gp !== null) {
        assumptions = "Partner share: (default 50%)" + "<br/> Revenue per gameplay: £" + exp_rev_per_gp.toFixed(2);
    } else if (partnerSharePerc !== null && exp_rev_per_gp == null) {
        assumptions = "Partner share: " + partnerSharePerc + "%" + "<br/> Revenue per gameplay: (default null)";
    } else {
        assumptions = "Partner share: " + partnerSharePerc + "%" + "<br/> Revenue per gameplay: £" + exp_rev_per_gp.toFixed(2);
    }
    document.getElementById("jsAssumptions").innerHTML = "Base currency: " + fx_currency + "<br/>" + assumptions;
}

</script>

{% endblock %}

