{% extends "kpis/base.html" %}

{% block content %}

    <h4 class="display-4 font-weight-bold">Immotion KPIs</h4>

    <br>

    <h5>View the latest report: 
        <a href="/week/{{latest_week}}/{{latest_year}}">Wk {{latest_week}}, {{latest_year}}</a>
    </h5>

    <br>

    <div class="row">
        <div class="card m-1 p-3 col-auto">
            <p><strong>To go on this page</strong></p>
                <ul>
                    <li><strike> Link to latest weekly report </strike></li>
                    <li> Graph </li>    
                    <li> YTD Statistics </li>
                </ul>
        </div>

        <div class = "card m-1 p-3 col-auto">
            <p><strong>Todo list</strong></p>
            <ul>
                <li>Fix weekly url links to not go below 1 or above 53</li>
                <li>Finish navbar</li>
                <li>Show revenues and partnershares for each partner view</li>
            </ul>
            <p><strong>Ideas</strong></p>
            <ul>
                <li>Create 'Sage Invoice' model to reconcile against</li>
            </ul>
        </div>
    </div>

    <br>

    {% for yearly_report in yearly_reports %}
        <h5> Year {{ yearly_report.year }}</h5>
        <table class="table table-responsive text-uppercase small">
            <thead class="thead-light ">
                <th>Week#</th>
                <th>Site</th>
                <th>Revenue</th>
                <th>Partner Share</th>
                <th>Contribution</th>
            </thead>
            {% for report in yearly_report.report %}
{#                    <h6>Week {{ report.week_number }}</h6>#}
            <tr>
                <td> <a href="/week/{{report.week_number}}/{{report.year}}">{{ report.week_number }}</a> </td>
                <td> <a href="/{{ report.customer|slugify }}">{{ report.customer }}</a> </td>
                <td> {{ report.revenue }} </td>
                <td> {{ report.partner_share }} </td>
                <td> {{ report.contribution }}</td>
            </tr>
            {% endfor %}
        </table>
        <hr> 
    {% endfor %}

{% endblock content %}
