<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          KPIs
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Weekly</a>
          <a class="dropdown-item" href="#">Annual</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/week/{{latest_week}}/{{latest_year}}">Latest report</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Reconciliations
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Gameplays</a>
          <a class="dropdown-item" href="#">Headset Count</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    
    <ul class="navbar-nav">
      <li class="nav-item dropdown mr-2">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/newreport">New report</a>
          <a class="dropdown-item" href="/editreports">Edit report</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/admin">Admin panel</a>
        </div>
      </li>
      {% if user.is_authenticated %}
        <li class="nav-item navbar-text">Hello, {{ user.first_name }}: </li>
        <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
      {% else %}
        <li class="nav-item"><a class="nav-link" href="/login">Login / Register</a></li>
      {% endif %}
    </ul>
  </div>
</nav>