{% extends "kpis/base.html" %}

{% block content %}

{% load humanize %}

<script>let tableData = {{ customer_tabledata|safe }};</script>

<h3>Filter page</h3>
<form method = "get">
    <div class="form-group my-2">  
        {% for field in report_filter.form %}
        <label class="col-sm-4 control-label" for="{{ field.name }}">{{ field.label }} : </label>
        <div class="col-sm-8">
            {{ field }}
        </div>
        {% endfor %}
        <div class="col-sm-12">
        <button type="submit" class="btn btn-primary mt-3">Filter</button>
        </div>
    </div>
</form>

<!-- Original Table

<table class="table mt-3">
    <thead>
        <tr scope="col">
            <th>Customer</th>
            <th>Revenue</th>
            <th>Avg Headsets</th>
            <th>Revenue / Headset</th>
            <th>Partner Share</th>
            <th>Operational Costs</th>
            <th>Contribution</th>
            <th>Contribution / Headset</th>
            <th>Margin</th>
        </tr>
    </thead>

    <tbody>
        {% for k in customer_tabledict %}
            <tr>
                <th scope="row">{{ k.customer }}</th>
                <td>{{ k.table_info.total_revenue|intcomma }}</td>
                <td>{{ k.table_info.headsets|intcomma }}</td>
                <td>{{ k.table_info.revenue_per_headset|intcomma}}</td>
                <td>({{ k.table_info.partner_share|intcomma }})</td>
                <td>({{ k.table_info.operations_cost|intcomma }})</td>
                <td>{{ k.table_info.contribution|intcomma }}</td>
                <td>{{ k.table_info.contribution_per_headset|intcomma }}</td>
                <td>{{ k.table_info.margin }}%</td>
            </tr>
        {% endfor %}
    </tbody>

</table>

-->

<!--- Dynamic table -->
<table class="table mt-3">
    <thead>
        <tr scope="col">
            <th onclick="sortCustomerColumn()">Customer</th>
            <th onclick="sortColumn('total_revenue')">Revenue</th>
            <th onclick="sortColumn('headsets')"> Avg Headsets</th>
            <th onclick="sortColumn('revenue_per_headset')">Revenue / Headset</th>
            <th onclick="sortColumn('partner_share')">Partner Share</th>
            <th onclick="sortColumn('operations_cost')">Operational Costs</th>
            <th onclick="sortColumn('contribution')">Contribution</th>
            <th onclick="sortColumn('contribution_per_headset')">Contribution / Headset</th>
            <th onclick="sortColumn('margin')">Margin</th>
        </tr>
    </thead>

    <!-- {{ my_num|intcomma }} for formatting with commas -->

    <tbody id="tableData">

    </tbody>

</table>

<hr>

<h4> Sandbox </h4>
<pre><code><p>{{ explorer2 }}</p></code></pre>
<pre><code><p>{{ explorer3 }}</p></code></pre>

{% endblock content %}

<script src="{%static '/js/js/table.js' %}"></script>