
{% extends 'kpis/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

{% if user.is_authenticated %}

    <div class="container">
        <div class="row justify-content-center arrow-row">
            <div class="col-auto svg-container">
                <a id="arrow-back" href="/week/{{prev_week}}/{{year}}">
                    <svg width="3em" height="3em" viewBox="0 0 16 16" class="text-dark bi bi-arrow-left-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                        <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                    </svg>
                </a>
            </div>
            <div class="card col-auto border-0">
                    <div class="card-body">
                        <h4 class="display-4 font-weight-bold text-center">KPI Report <br/> Week {{ week_number }} - {{ year }}</h4>
                    </div>
            </div>
            <div class="col-auto svg-container">
                <a id="arrow-fwd" href="/week/{{next_week}}/{{year}}">
                    <svg width="3em" height="3em" viewBox="0 0 16 16" class="text-dark bi bi-arrow-right-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5A.5.5 0 0 0 4 8z"/>
                    </svg>
                </a>
            </div>
        </div>

        <div class="row">

            <div class="card col-md m-1 ">
                <div class="card-body col">
                    <h6>Net revenue (£ GBP)</h6><h2>{{ reports_revenue|intcomma }}</h2>
                </div>
                <table class="table small">
                    <thead>
                        <th>Vs.</th>
                        <th>+/-</th>
                    </thead>
                    <tr>
                        <th>Last week</th>
                        <td>{{ reports_rev_prev_wk_diff|intcomma}}%</td>
                    </tr>
                    <tr>
                        <th>Last year</th>
                        <td>{{ reports_rev_prev_yr_diff|intcomma }}%</td>
                    </tr>
                    <tr>
                        <th>YTD Avg</th>
                        <td>{{wk_yr_avg_comparison|intcomma}}%</td>
                    </tr>
                </table>
            </div>

            <div class="card col-lg m-1">
                <div class="card-body">
                    <h6>Headsets in operation</h6>
                    <div>   <h2 class="d-inline">{{ reports_hs|intcomma }} </h2>
                            <h5 class="d-inline mr-2">of </h5>
                            <h2 class="d-inline"> {{customer_headsets}}</h2>
                    </div>
                </div>
                <table class="table small">
                    <tr class="">
                        <th></th>
                        <th>{{prev_yr}}</th>
                        <th>{{year}}</th>
                    </tr>
                    <tr class="">
                        <th>IVR</th>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="">
                        <th>Partner</th>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>

            <div class="card col m-1">
                <div class="card-body">
                    <h6>Revenue per headset</h6><h2>{{ reports_rhs|intcomma }}</h2>
                </div>
                <table class="table small">
                    <tr class="">
                        <th>IVR</th>
                        <td></td>
                    </tr>
                    <tr class="">
                        <th>Aquarium</th>
                        <td>{{ rep_aqu_rphs }}</td>
                    </tr>
                    <tr class="">
                        <th>Entertainment</th>
                        <td>{{ rep_ent_rphs }}</td>
                    </tr>

                    <tr class="">
                        <th>Other</th>
                        <td></td>
                    </tr>
                </table>
            </div>

            <div class="card col m-1">
                <div class="card-body">
                    <h6>Estimates</h6><h2></h2>
                </div>
                <table class="table small">
                    <tr class="">
                        <th>IVR</th>
                        <td></td>
                    </tr>
                    <tr class="">
                        <th>Aquarium</th>
                        <td></td>
                    </tr>
                    <tr class="">
                        <th>Entertainment</th>
                        <td></td>
                    </tr>

                    <tr class="">
                        <th>Other</th>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>

        <br>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <table class="table table-responsive text-uppercase small">
                    <thead class="thead-dark">
                        <tr>
                            <th></th>
                            <th class="align-middle">Revenue (£)</th>
                            <th class="align-middle">Headsets</th>
                            <th class="align-middle">Rev / HS (£) </th>
                            <th class="align-middle">Partner Share (£)</th>
                            <th class="align-middle">Operating Costs (£)</th>
                            <th class="align-middle">Contribution (£)</th>
                            <th class="align-middle">Cont / HS (£)</th>
                            <th class="align-middle">Margin</th>
                            <th class="align-middle">Gameplays</th>
                            <th class="align-middle">Gameplay Var (£)</th>
                            <th class="align-middle">Gameplay Var %</th>
                        </tr>
                    </thead>

                    <tr>
                        <td>Total</td>
                        <td>{{ reports_revenue|intcomma }}</td>
                        <td>{{ reports_hs }}</td>
                        <td>{{ reports_rhs|intcomma}}</td>
                        <td>{{ reports_partner_share|intcomma }}</td>
                        <td>{{ reports_ops|intcomma }}</td>
                        <td>{{ reports_contr|intcomma }}</td>
                        <td>{{ reports_contr_hs|intcomma }}</td>
                        <td>{{ reports_margin|intcomma }}%</td>
                        <td>{{ reports_gameplays|intcomma }}</td>
                        <td>{{ reports_gameplay_var|intcomma }}</td>
                        <td>{{ reports_gp_var_perc }}</td>
                    </tr>

                    <thead class="thead-light">
                        <tr>
                            <th>Category</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>

                    <tr>
                        <td>Aquarium</td>
                        <td>{{ rep_aqu_rev|intcomma }}</td>
                        <td>{{ rep_aqu_hs }}</td>
                        <td>{{ rep_aqu_rphs|intcomma }}</td>
                        <td>{{ rep_aqu_ps|intcomma }}</td>
                        <td>{{ rep_aqu_ops|intcomma }}</td>
                        <td>{{ rep_aqu_contr|intcomma }}</td>
                        <td>{{ rep_aqu_contr_hs|intcomma }}</td>
                        <td>{{ rep_aqu_margin }}%</td>
                        <td>{{ rep_aqu_gameplays|intcomma}}</td>
                        <td>{{ rep_aqu_gameplay_var|intcomma }}</td>
                        <td>{{ rep_aqu_gp_var_perc }}</td>
                    </tr>

                    <tr>
                        <td>Entertainment</td>
                        <td>{{ rep_ent_rev|intcomma }}</td>
                        <td>{{ rep_ent_hs }}</td>
                        <td>{{ rep_ent_rphs|intcomma }}</td>
                        <td>{{ rep_ent_ps|intcomma }}</td>
                        <td>{{ rep_ent_ops|intcomma }}</td>
                        <td>{{ rep_ent_contr|intcomma }}</td>
                        <td>{{ rep_ent_contr_hs|intcomma }}</td>
                        <td>{{ rep_ent_margin|intcomma }}%</td>
                        <td>{{ rep_ent_gameplays|intcomma}}</td>
                        <td>{{ rep_ent_gameplay_var|intcomma }}</td>
                        <td>{{ rep_ent_gp_var_perc }}</td>
                    </tr>

                    {% for report in mandalay_bay %}
                        <tr>
                            <td>{{ report.customer }}</a></td>
                            <td>{{ report.revenue|intcomma }}</td>
                            <td>{{ report.headsets }}</td>
                            <td>{{ report.revenue_per_headset }}</td>
                            <td>{{ report.partner_share|intcomma }}</td>
                            <td>{{ report.operating_costs|intcomma }}</td>
                            <td>{{ report.contribution|intcomma }}</td>
                            <td>{{ report.contribution_per_headset|intcomma }}</td>
                            <td>{{ report.margin }}%</td>
                            <td>{{ report.gameplays|intcomma}}</td>
                            <td>{{ report.gameplay_variance|intcomma }}</td>
                            <td>{{ report.gameplay_var_perc|intcomma }}</td>
                        </tr>
                    {% endfor %}

                    <thead class="thead-light">
                        <tr>
                            <th>Location</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>

                    {% for report in reports %}
                        <tr class="{%if report.estimate %} bg-light estimate {% endif %}">
                            <td><a href="/{{report.customer|slugify }}">{{ report.customer }}</a></td>
                            <td>{{ report.revenue|intcomma }}</td>
                            <td>{{ report.headsets }}</td>
                            <td>{{ report.revenue_per_headset|intcomma }}</td>
                            <td>{{ report.partner_share|intcomma }}</td>
                            <td>{{ report.operating_costs|intcomma }}</td>
                            <td>{{ report.contribution|intcomma }}</td>
                            <td>{{ report.contribution_per_headset|intcomma }}</td>
                            <td>{{ report.margin }}%</td>
                            <td>{{ report.gameplays|intcomma }}</td>
                            <td>{{ report.gameplay_variance|intcomma}}</td>
                            <td class="{% if report.gameplay_var_perc < 0 %} highlight {% endif %}">{{ report.gameplay_var_perc|intcomma}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% else %}

    <p>Please login to view this page.</p>

{% endif %}

{% endblock%}
