<!doctype html>

<html>

<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

{% load humanize %}


<body class="container mt-3">

<h3 class="mb-3">Query Set</h3>
<pre><code>{{ explorer }}</code></pre>
<p class="lead"> For each report we need to group by customer and then sum all the revenus for each customer </p>

<hr>

<h5> Sandbox </h5>
<pre><code><p>{{ explorer2 }}</p></code></pre>
<pre><code><p>{{ explorer3 }}</p></code></pre>


<h1>Search</h1>

<hr>

<form method = "get">
        {{ report_filter.form.as_p }}

    <button type = "submit">Search</button>
</form>

<table class="table mt-3">
    <thead>
        <tr scope="col">
            <th></th>
            <th>Revenue</th>
            <th>Avg Headsets</th>
            <th>Revenue / Headset</th>
            <th>Partner Share</th>
            <th>Operational Costs</th>
            <th>Contribution</th>
            <th>Contribution / Headset</th>
            <th>Margin</th>
        </tr>
    </thead>

    <!-- {{ my_num|intcomma }} for formatting -->

    <tbody>
        {% for k in customer_tabledict %}
            <tr>
                <th scope="row">{{ k.customer }}</th>
                <td>{{ k.table_info.total_revenue|intcomma }}</td>
                <td>{{ k.table_info.headsets|intcomma }}</td>
                <td>{{ k.table_info.revenue_per_headset|intcomma}}</td>
                <td>({{ k.table_info.partner_share|intcomma }})</td>
                <td>({{ k.table_info.operations_cost|intcomma }})</td>
                <td>{{ k.table_info.contribution|intcomma }}</td>
                <td>{{ k.table_info.contribution_per_headset|intcomma }}</td>
                <td>{{ k.table_info.margin }}%</td>
        {% endfor %}
    </tbody>

</table>

<hr>

<h4>Revenues</h4>

{% for customer in customer_query %}
    <li>{{ customer.customer }}</li>
    {% for report in customer.report %}
        <ul>Week {{ report.week_number }}: {{ report.revenue }}</ul>
    {% endfor %}
{% endfor %}

<hr>

{% comment %} {% for week in weekly_dict %}
    <li>Week: {{ week.week }}</li>
    {% for report in week.report %}
        <ul>{{ report.customer }}: {{ report.revenue }}</ul>
    {% endfor %}
{% endfor %}

</body>

</html> {% endcomment %}