<!doctype html>

<html>

<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

{% load humanize %}


<body class="container mt-3">

<h3>Filter page</h3>
<form method = "get">
    <div class="form-group my-2">  
        {% for field in report_filter.form %}
        <label class="col-sm-4 control-label" for="{{ field.name }}">{{ field.label }} : </label>
        <div class="col-sm-8">
            {{ field }}
        </div>
        {% endfor %}
        <div class="col-sm-12">
        <button type="submit" class="btn btn-primary mt-3">Filter</button>
        </div>
    </div>
</form>

<table class="table mt-3">
    <thead>
        <tr scope="col">
            <th></th>
            <th>Revenue</th>
            <th>Avg Headsets</th>
            <th>Revenue / Headset</th>
            <th>Partner Share</th>
            <th>Operational Costs</th>
            <th>Contribution</th>
            <th>Contribution / Headset</th>
            <th>Margin</th>
        </tr>
    </thead>

    <!-- {{ my_num|intcomma }} for formatting with commas -->

    <tbody>
        {% for k in customer_tabledict %}
            <tr>
                <th scope="row">{{ k.customer }}</th>
                <td>{{ k.table_info.total_revenue|intcomma }}</td>
                <td>{{ k.table_info.headsets|intcomma }}</td>
                <td>{{ k.table_info.revenue_per_headset|intcomma}}</td>
                <td>({{ k.table_info.partner_share|intcomma }})</td>
                <td>({{ k.table_info.operations_cost|intcomma }})</td>
                <td>{{ k.table_info.contribution|intcomma }}</td>
                <td>{{ k.table_info.contribution_per_headset|intcomma }}</td>
                <td>{{ k.table_info.margin }}%</td>
        {% endfor %}
    </tbody>

</table>

<hr>

<h4> Sandbox </h4>
<pre><code><p>{{ explorer2 }}</p></code></pre>
<pre><code><p>{{ explorer3 }}</p></code></pre>

</body>

</html>